@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #F7F7F7;
  --color-dark: #081319;
  --color-accent: #F1B344;
  --color-white: #FFFFFF;
  --color-gray: #858585;
  --color-light-gray: #DFDFDF;
  --color-border-gray: #8F8F8F;
  --color-text-dark: #4B4C4D;
  
  --font-family-sans: 'Fira Sans', sans-serif;
}

body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
